<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA模拟</title>
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="./css/news.css">
</head>

<body>
    <div id="app">
        <!-- 头部 -->
        <div class="header">
            <div class="header-bg"></div>
            <div class="header-wrap">
                <div class="header-main">
                    <div class="header-logo"></div>
                </div>
                <div class="header-nav">
                    <ul>
                        <li>首页</li>
                        <li>视频</li>
                        <li>新闻</li>
                        <li>图集</li>
                        <li>
                            <el-dropdown>
                                <span class="nav-link">球员
                                    <i class="el-icon-arrow-down"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>现役</el-dropdown-item>
                                    <el-dropdown-item>退役</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </li>
                        <li>
                            <el-dropdown>
                                <span class="nav-link">赛程
                                    <i class="el-icon-arrow-down"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>赛程</el-dropdown-item>
                                    <el-dropdown-item>季后赛</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </li>
                        <li>排名</li>
                        <li>
                            <el-dropdown>
                                <span class="nav-link">更多
                                    <i class="el-icon-arrow-down"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>游戏</el-dropdown-item>
                                    <el-dropdown-item>乐园</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </li>
                    </ul>
                    <div class="server-nav">
                        <el-input placeholder="请输入内容" prefix-icon="el-icon-search">
                        </el-input>
                    </div>
                    <div class="user-nav">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="main-1200">
                <div class="sched" style="width:1200px;height:139px;">
                    <iframe id="index-sched" src="//china.nba.com/articles/licensee_widget_scoreboard.html"
                        width="1200px" frameborder="0" height="139px" scrolling="no"></iframe>
                </div>
                <img class="bannerImg"
                    src="https://new.inews.gtimg.com/tnews/6063e7f9/71fe/6063e7f9-71fe-4bfd-b271-d5be00f36133.png"
                    alt="" srcset="">

                <div class="Carousel">
                    <div class="CarouselItem1">
                        <div class="Item1">
                            <template>
                                <div class="block">
                                    <el-carousel height="300px">
                                        <el-carousel-item v-for="item in CarouselImg" :key="item">
                                            <img :src="item" style="width: auto; height: 300px;">
                                        </el-carousel-item>
                                    </el-carousel>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="CarouselItem2">
                        <div id="mod-img-impnews">
                            <ul>
                                <li v-for="item in ImgImpnews"><a target="_blank" href="#">
                                        <div class="news_img_wrap"><img :src="item.url"></div>
                                        <i>{{item.title}}</i>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="CarouselItem3">
                        <div id="mod-impnews">
                            <div class="impnews-title">要闻
                                <i class="switch-to-next" data-for="text-news">换一换</i>
                            </div>
                            <div class="impnews-wrap">
                                <div class="impnews-wrap" id="impnews-wrap">
                                    <el-card shadow="always" class="box-card">
                                        <div v-for="o in impnews" :key="o" class="text item">
                                            {{ o }}
                                        </div>
                                    </el-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 咨询 -->
                <div class="service">
                    <div class="service-title">
                        <span class="servicetitle"><i class="el-icon-video-camera"></i>咨询
                        </span>
                        <span style="margin-left: 50px">
                            <el-link type="danger" style="font-size: 20px;">比赛</el-link>
                            <el-link type="info" style="font-size: 20px;">最佳</el-link>
                        </span>
                        <el-divider content-position="right">
                            <el-link type="primary">更多</el-link>
                        </el-divider>
                    </div>
                    <div class="serviceMain">
                        <div class="ser1">
                            <a href="#" v-for="item in 2">
                                <span><i class="el-icon-s-management"></i>圆桌会议：总决赛开赛在即 谁会是最后的赢家？</span>
                            </a>

                            <div class="serItem">
                                <div class="seritem" v-for="item in 2">
                                    <img src="http://inews.gtimg.com/newsapp_ls/0/13730049664_1164606/0" class="image">
                                    <div class="serItem" style="padding: 14px;">
                                        <span>47年与28年 雄鹿和太阳终于重返总决赛</span>
                                        <div class="bottom clearfix">
                                            <time class="time">{{ currentDate }}</time>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="ser2">
                            <el-tabs type="border-card">
                                <el-tab-pane label="联盟排名">
                                    <el-card class="box-card">
                                        <div v-for="o in 4" :key="o" class="text item">
                                            {{'联盟排名 ' + o }}
                                        </div>
                                    </el-card>
                                </el-tab-pane>
                                <el-tab-pane label="分区排名">
                                    <el-card class="box-card">
                                        <div v-for="o in 4" :key="o" class="text item">
                                            {{'分区排名 ' + o }}
                                        </div>
                                    </el-card>
                                </el-tab-pane>
                            </el-tabs>
                        </div>
                    </div>
                </div>


                <!-- 视频 -->
                <div class="video">
                    <div class="video-title">
                        <span class="videotitle"><i class="el-icon-video-camera"></i>视频
                        </span>
                        <span style="margin-left: 50px">
                            <el-link type="danger" style="font-size: 20px;">比赛</el-link>
                            <el-link type="info" style="font-size: 20px;">最佳</el-link>
                        </span>
                        <el-divider content-position="right">
                            <el-link type="primary">更多</el-link>
                        </el-divider>
                    </div>
                    <div class="videoMain">
                        <div class="v1" v-for="item in 2">
                            <div class="row v1item">
                                <div class="col-sm-6 col-md-4" v-for="item in 3">
                                    <div class="thumbnail">
                                        <img :src="videoUrl" alt="...">
                                        <div class="caption">
                                            <nav>
                                                <ul class="pager">
                                                    <li class="previous">
                                                        <span><i class="el-icon-video-play"></i></span>
                                                    </li>
                                                    <el-badge is-dot class="item">视频-雄鹿118-107老鹰 集锦</el-badge>
                                                    <li class="next">
                                                        <span>{{VideoData}}</span>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- 数据王 -->
                <div class="dataForm">
                    <div class="data-title">
                        <span class="datatitle"><i class="el-icon-s-marketing"></i>数据王
                        </span>
                        <span style="margin-left: 50px">
                            <el-link type="danger" style="font-size: 20px;">每日 数据王</el-link>
                        </span>
                        <el-divider content-position="right">
                            <el-link type="primary">更多</el-link>
                        </el-divider>
                    </div>
                    <div class="dataMain">
                        <div class="mainlist" v-for="item in dataImg">

                            <el-card :body-style="{ padding: '0px' }">
                                <img :src="item.url" style="height: 200px;">
                                <el-tag type="info">{{item.score}}</el-tag>
                                <div style="padding: 14px;">
                                    <span>{{item.dec}}</span>
                                    <div class="bottom clearfix">
                                        <time class="time">{{ currentDate }}</time>
                                        <el-button type="text" class="button">{{item.name}}</el-button>
                                    </div>
                                </div>
                            </el-card>
                        </div>
                    </div>
                </div>


                <!-- special -->
                <div class="special">
                    <div class="specialTitle">
                        <span><i class="el-icon-document"></i>专题</span>
                        <el-divider></el-divider>
                    </div>
                    <div class="specialMain">
                        <div class="specialMainItem">
                            <div class="speciaMainImg" v-for="item in 2">
                                <el-card v-for="item in 3" :body-style="{ padding: '0px' }">
                                    <img style="height: auto;"
                                        src="https://img1.gtimg.com/chinanba/pics/hv1/195/15/2284/148521120.jpg"
                                        class="image">
                                    <div style="padding: 2px;">
                                        <img src="./images/header-bg.png"
                                            alt="" srcset="">
                                    </div>
                                </el-card>
                                <br>
                            </div>
                        </div>
                        <div class="specialMainItem">
                            <div class="specialIframe">
                                <iframe id="panshi-iframe" src="//nbachina.qq.com/vote/vote-new.htm" width="285px"
                                    height="316px" frameborder="0" scrolling="no"></iframe>
                                <img src="//mat1.gtimg.com/chinanba/web/statics/special-topic-rule_bae3cc.png">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="adList">

                    <div class="nba-partner">
                        <h3>NBA官方合作伙伴</h3>
                        <div class="partners-list">
                            <a v-for="item in partner" href="#" target="_blank"><img :src="item"></a>
                        </div>
                        <p class="partner-channel">
                            商务合作
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="about">

            <div id="copyright-wrap">
                <div id="copyright-tab">
                    <div class="copyright-tab">
                        <div class="tab-list">
                            <span>关于</span>
                            <a href="http://www.nbastore.cn/">NBA Store</a>
                            <a href="https://careers.nba.com/">NBA就职机会</a>
                        </div>
                        <div class="tab-list">
                            <span>NBA赛事</span>
                            <a href="https://china.nba.com/draft/">选秀大会</a>
                            <a href="http://www.jrnba.com.cn/">jr.NBA高中赛</a>
                        </div>
                        <div class="tab-list">
                            <span>专题</span>
                            <a href="https://china.nba.com/2017agency/index.htm">休赛季转会</a>
                            <a href="https://china.nba.com/topics/association.htm">联盟的骄傲</a>
                            <a href="https://china.nba.com/cny/index.htm">新春贺岁</a>
                            <a href="https://china.nba.com/topics/summerofslam.htm">扣响盛夏</a>
                        </div>
                        <div class="tab-list">
                            <span>NBA101</span>
                            <a href="https://china.nba.com/topics/history.htm">NBA历史</a>
                            <a href="https://china.nba.com/topics/50players.htm">NBA50大球星</a>
                            <a href="https://china.nba.com/topics/faq/index.htm">NBA知识Q&A</a>
                        </div>
                        <div class="tab-sports-app">
                            <span>腾讯体育</span>
                            <img src="//mat1.gtimg.com/qqcdn/chinanba/web/static/images/footer-sports-qrcode.png" />
                        </div>
                        <div class="tab-nba-app">
                            <span>NBA官方应用</span>
                            <img src="//mat1.gtimg.com/chinanba/web/statics/footer-nba-qrcode_689c63.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <span>底部版权</span>
        </div>


        <div id="ToTop">
            <div class="side-floor" style="display: block;"><a href="#app" class="floor-top"></a><a
                    href="http://www.nbaqmq.com" target="_blank" class="floor-ballfans"></a><a
                    href="http://www.jrnba.com.cn/" target="_blank" class="floor-jrnba"></a><a
                    href="http://china.nba.com/nbaapp/?ls=chinaapp:nbachina:chinanbacom:applaunch:hp:header:desktop"
                    target="_blank" class="floor-nbaapp"></a><a href="http://www.nbastore.cn/" target="_blank"
                    class="floor-nbastore"></a><span class="floor-qrcode"><img
                        src="//mat1.gtimg.com/qqcdn/chinanba/web/static/styles/images/app-qrcode.png"><span>下载NBA
                        APP<br>NBA官方资讯一手掌握</span></span></div>
        </div>
    </div>

    <script src="./js/main.js"></script>
</body>

</html>